:root {
    --color-1: #22443f;
    --color-2: #81948b;
    --color-3: #767b35;
    --color-4: #f5f5f5;
    --color-5: #fff;
    --fuente-1: 'Cookie', cursive;
    --fuente-2: 'Open Sans', sans-serif;
    --weight-font-regular: 400;
    --weight-font-bold: 700;
    
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(255, 255, 255);
    background-image: url("../static/background.jpg");
    background-attachment: fixed;

}


/*header */


.box-date-name h1{
    font-family: var(--fuente-1);
    font-size: 8rem;
}

.box-date-name h2{
    font-size: 2rem;
}

span.fecha {
    font-family: var(--fuente-2);
    font-weight: var(--weight-font-regular);
    color: var(--color-1);
    display: table;
    white-space: nowrap;
    width: 100%;
    font-weight: 300;
    font-size: 25px;
}

.frase h3{
    margin: 4em 0 2.5em;
    font-family: var(--fuente-2);
    font-size: 1.2em;
}
.frase{
    padding: 0 2em;
}


.scrolldown button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: auto;
}

.scrolldown button img{
    height: 5em;
    width: 5em;
}

/* Mariposas */
.box-mariposa{
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    height: 500px
}


.mariposa{
    position:absolute;
    width: min-content;
    height: 8.5em;
    width:8.5em;
    animation-name: mariposaAnimation;
    animation-duration: 3s;
}

@keyframes mariposaAnimation {
    from{
        opacity: 0;
        height: 12em;
        width:12em;
    }

    to{
        opacity: 1;
    }
}

.m1{
    left: 110px;
    top: -10px;
    transform: rotate(20deg); 
}
.m2{
    left: 40px;
    top: 30px;
    transform: rotate(320deg); 
}
.m3{
    left: -50px;
    top: 90px;
    transform: rotate(30deg);
}
.m4{
    top: 40px;
    right: 40px;
    transform: rotate(20deg);
}
.m5{
    right: -20px;
    top: 90px;
    transform: rotate(320deg);
}

.m6{
    top: -20px;
    right: 95px;
    transform: rotate(330deg);
}

.box-header{
    padding-top: 5em;
}


/* Counter */

.box-counter{
    margin-top: 5em;
    padding-top: 3em;
}

.counter-container{
    border-radius: 50%;
    border: 3px solid rgb(137, 0, 137);
    width: 30em;
    height: 30em;
    background-color: var(--color-5);
    margin: 0 auto;
}

.rows-casillas{
    align-items: center;
    justify-content: center;
    margin-top: 5.5em;
}


.counter-casilla{
    border-radius: 5px;
    border: 1.5px solid rgb(137, 0, 137);
    padding: 1em 0;
}

.counter-casilla h6{
    font-size: 0.75em;
}

.counter-casilla h5{
    font-size: 1.6em;
}


/* Map */

.box-map{
    margin-top: 3em;
    text-align: center;
    font-family: var(--fuente-2);
}

.box-map button{
    background: rgb(137, 0, 137);
    color: white;
    font-size: 1.1em;
    padding: 0.3em 0.5em;
}


.box-map iframe{
    height: 20em;
    width: 20em;
    
}

.box-map img{
    height: 20em;
    width: 20em;
    object-fit: fill;
}

.box-map button:hover{
    border: 1px solid rgb(137, 0, 137);
}



.box-map{
    border-radius: 5px;
    padding: 2em 0;
    border: 2px solid rgb(137, 0, 137);
    background-color: #fff;
}



.box-cards{
    text-align: center;
    margin: 12em 0 10em;
}

.detail{
    font-family: var(--fuente-1);
    font-size: 3em;
}

.box-confirm{
    text-align: center;
    margin: 5em 0;
}

.box-confirm form{
    margin-top: 4em;
}

.box-confirm form input{
    width: 20em;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(137, 0, 137)
}

.box-confirm form button{
    width: 20em;
    margin: auto;
    margin-top: 0.5em;
    text-align: center;
    background-color: rgb(137, 0, 137);
    color: white;
}

.box-confirm form button:hover{
    border: 1px solid rgb(137, 0, 137)
}

.box-map .gif {
    height: 8em;
    width: 8em;
    margin-bottom: 3em;
}

.box-footer{
    background-color: rgb(137, 0, 137);
    clear: both;
    position: relative;
    margin-top: 5em;
}

.box-footer{
    background-color: rgb(137, 0, 137);
    clear: both;
    position: relative;
    margin-top: 12em;
    color: white;
    padding-top: 1em;
    height: 10em;
}

.box-footer h3{
    font-size: 1em;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    
}

li{
    list-style-type: none;
    font-size: 0.75em;
    text-align: center;
}
.box-footer .waves{
    position: absolute;
    z-index: -1;
    bottom: 5em;
}

.box-music{
    border: 3px solid rgb(137, 0, 137);
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 4em;
    width: 4em;
    background-color: white;
    z-index: 100;
}

.box-music:hover{
    cursor: pointer;
}

.box-music img{
    height: 3.4em;
    width: 3.4em;
    right: 10px;
    bottom: 10px;
}


.box-loading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.box-loading img{
    height: 9em;
    width: 9em;
    padding: 0.5em;
}


.box-app{
    visibility: visible;
}

.box-ask{
    width: 100%;
    position: absolute;
    top: 50%;
}

.box-ask button{
    width: 12em;
    margin: auto;
    margin-top: 0.5em;
    text-align: center;
    background-color: rgb(137, 0, 137);
    color: white;
}

.box-ask button:hover{
    border: 1px solid rgb(137, 0, 137)
}

/*media querys*/


@media only screen and (max-width:768px) and (min-width:425px) {
    .box-ask button{
        width: 7.2em;
        font-size: 0.6em;
    }

    .mariposa{
        height: 7.5em;
        width:7.5em;
    }

    .box-mariposa{
        height: 250px;
    }

    .box-header h3{
        font-size: 1em;
    }

    .counter-container{
        height: 25em;
        width: 25em;
    }
    .rows-casillas{
        margin-top: 4em;
    }
    .box-footer .waves{
        position: absolute;
        z-index: -1;
        bottom: 6em;
    }
}


@media only screen and  (max-width:425px) {
    .box-ask button{
        width: 5.5em;
        font-size: 0.85em;
    }

    .mariposa{
        height: 6em;
        width:6em;
    }

    .box-mariposa{
        height: 250px;
    }

    .box-header{
        padding-top: 7em;
    }

    .box-header h3{
        font-size: 1em;
    }

    .box-header h1{
        font-size: 4em;
    }

    .box-header h2{
        font-size: 1.5em;
    }

    .counter-container{
        height: 20em;
        width: 20em;
    }

    .counter-container h6{
        font-size: 0.7em;
    }
    .rows-casillas{
        margin-top: 2em;
    }
    .box-footer .waves{
        position: absolute;
        z-index: -1;
        bottom: 9em;
    }
}